@import "neat/neat";
@import "partials/variables";
@import "partials/user-account";

html {
    font-size: $font-size-base;
}

h1, h2, h3, p, li, a, th, td {
    color: #8C8C8C;
    font-family: $font-family-sans-serif;
}

a {
    color: $link-color;
}

.container {
    @include grid-container;
    width: 90%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.user-account {
    @include grid-column(12);
    .user-account__links {
        @include resetList();
        float: right;
    }
    
    .user-account__links li {
        display: inline-block;
        margin-right: 7.5px;
        font-size: $font-size-body;
    }
    
    .user-account__links li:after {
        content: "|";
        margin-left: 7.5px;
    }
    
    .user-account__links li:last-child:after {
        content: none;
    }
}

.tabs {
    @include grid-column(12);
    
    .tabs__links {
        padding-left: 0;
        float: right;
        font-size: $font-size-body;
        color: $link-color;
    }
    .tabs__links li {
        list-style-type: none;
        display: inline-block;
        margin-right: 32px;
    }
    
    .tabs__links li a {
        text-decoration: none;
        color: #4d7ca8;
        font-weight: bold;
        // transition: padding-bottom 1s;
    }
    
    .tabs__links li a:hover {
        color: #355575;
        padding-bottom: 10px;
        border-bottom: 2.5px solid #355575;
    }
    
    .tabs__links li:last-child {
        margin-right: 0;
    }
}

.side {
    @include grid-column(3);
    min-height: 600px;
    height: 100%;
    //height: 100vh;
}

.side--blue {
    background: #6191b8;
}

.side--green {
    background: #8FDEAC;
}

.main-content {
    @include grid-column(9);
    
    .main-content__header {
        background: #FDFBFB;
        padding-top: 3.75px;
        padding-bottom: 3.75px;
        padding-left: 15px;
    }
    
    .main-content__title {
        font-weight: $font-weight-light;
        color: #4D4D4D;
        font-size: $font-size-h2;
    }
}


.main-content--red {
    // background: #cfb7ae;
}

table.portfolio {
    width: 100%;
    border-collapse: collapse;
}
.portfolio__header {
    text-transform: uppercase;
    font-size: $font-size-small;
    
    tr th {
        font-weight: $font-weight-bold;
        letter-spacing: .5px;
        text-align: right;
    }
    
    tr th:first-child {
        text-align: left;
    }
}
.portfolio__body {
    tr td {
        text-align: right;
    }
    tr td:first-child {
        text-align: left;
    }
}
.portfolio__money {
    font-family: $font-family-monospace;
}
.portfolio__body td, 
.portfolio__header th {
    padding: 8px 15px;
}

.portfolio__body tr:nth-child(odd) {
    background: #FDFBFB;
}

ul.financial-info {
    list-style-type: none;
    
    li {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

ul.financial-info__header {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
}