@import "neat/neat";
@import "partials/variables";
@import "partials/sidebar-layout";
@import "partials/user-account";

html {
    font-size: $font-size-base;
}

body {
    background: #f4f8fb;
}

h1, h2, h3, p, li, a, th, td {
    color: #8C8C8C;
    font-family: $font-family-sans-serif;
}

a {
    color: $link-color;
}
.sidebar-layout {
    @include grid-container;
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

.logo-container {
    @include grid-column(1, $sidebar-layout);
    &__logo {
        @include grid-collapse; 
    }
    
}


.user-account {
    .user-account__links {
        @include resetList();
        float: right;
    }
    
    .user-account__links li {
        display: inline-block;
        margin-right: 7.5px;
        font-size: $font-size-body;
    }
    
    .user-account__links li:after {
        content: "|";
        margin-left: 7.5px;
    }
    
    .user-account__links li:last-child:after {
        content: none;
    }
}

nav.tabs {
    position: relative;
    top: 50px;
}

.tabs {
    @include grid-column(2, $sidebar-layout);
    &__links {
        padding-left: 0;
        float: right;
        font-size: $font-size-body;
        color: $link-color;
    }
    
    &__links li {
        list-style-type: none;
        display: inline-block;
        margin-right: 32px;
    }
    
    &__links li a {
        text-decoration: none;
        color: #4d7ca8;
        font-weight: bold;
    }
    
    &__links li a:hover {
        color: #355575;
        padding-bottom: 10px;
        border-bottom: 2.5px solid #355575;
    }
    
    &__links li:last-child {
        margin-right: 0;
    }
}

.main-content {
    @include grid-column(12);
    
    .main-content__header {
        background: #FDFBFB;
        padding-top: 3.75px;
        padding-bottom: 3.75px;
        padding-left: 15px;
    }
    
    .main-content__title {
        font-weight: $font-weight-light;
        color: #4D4D4D;
        font-size: $font-size-h2;
    }
}

table.portfolio {
    width: 100%;
    border-collapse: collapse;
}
.portfolio__header {
    text-transform: uppercase;
    font-size: $font-size-small;
    
    tr th {
        font-weight: $font-weight-bold;
        letter-spacing: .5px;
        text-align: right;
    }
    
    tr th:first-child {
        text-align: left;
    }
}
.portfolio__body {
    tr td {
        text-align: right;
    }
    tr td:first-child {
        text-align: left;
    }
}
.portfolio__money {
    font-family: $font-family-monospace;
}
.portfolio__body td, 
.portfolio__header th {
    padding: 8px 15px;
}

.portfolio__body tr:nth-child(odd) {
    background: #FDFBFB;
}

ul.financial-info {
    list-style-type: none;
    li {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
    }
}

ul.financial-info__header {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
}

