@import "neat/neat";
@import "partials/variables";
@import "partials/base";
@import "partials/sidebar-layout";
@import "partials/user-account";
@import "partials/button";
@import "partials/logo";
@import "partials/tabs";

.collapse {
    @include grid-container;
    @include grid-collapse;
}




table.portfolio {
    width: 100%;
    border-collapse: collapse;
}
.portfolio__header {
    text-transform: uppercase;
    font-size: $font-size-small;
    
    tr th {
        font-weight: $font-weight-bold;
        letter-spacing: .5px;
        text-align: right;
    }
    
    tr th:first-child {
        text-align: left;
    }
}
.portfolio__body {
    tr td {
        text-align: right;
    }
    tr td:first-child {
        text-align: left;
    }
}
.portfolio__money {
    font-family: $font-family-monospace;
}
.portfolio__body td, 
.portfolio__header th {
    padding: 16px;
}

.portfolio__body tr:nth-child(odd) {
    background: #FDFBFB;
}

ul.financial-info {
    @include grid-column(12);
    list-style-type: none;
    li {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
    }
}

ul.financial-info__header {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
}

/* Selling Stock */
.stock p,
.stock h2,
.stock h3,
.stock h4,
.stock ul{
    margin: 0;
}

.stock {
    &__header {
        h2 {
            font-weight: $font-weight-bold;
            font-size: $font-size-h2;
        }
        p {
            font-weight: $font-weight-semibold;
        }
        border-bottom: 1px dotted #ccc;
        padding-bottom: 8px;
        margin-bottom: 16px;
    }
    
    &__current-price {
        h3 {
            font-size: $font-size-h3;
            color: green;
        }
        
        margin-bottom: 16px;
        padding-bottom: 8px;
        border-bottom: 1px dotted #ccc;
    }
    
    &__info {
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                margin-bottom: 8px;
            }
        }
        margin-bottom: 32px;
    }
    
}
