header.global--blue-grey {
    background: #607D8B;
}
.container {
    @extend %container;
}


.financial-information,
.utility {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
