/* Base
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Color
   ========================================================================== */
/* Layout
   ========================================================================== */
/* Layout
   ========================================================================== */
/*! Typography that is being used throughout the site.  */
html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.2em; }

.small-font {
  font-size: 0.8833em; }

/*! Helpful utility class nad placeholders that can be used throughout the project */
/* Classes
   ========================================================================== */
.font-family--mono {
  font-family: "Roboto Mono", monospace; }

.text-align--right {
  text-align: right; }

.text-align--left {
  text-align: left; }

.text-align--center {
  text-align: center; }

/* Placeholders
   ========================================================================== */
/**
 * Turns the element that is including this into a container.
 */
.container,
.login-container,
.register-contaienr {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }

/**
 * Turns the element that is including this into a material design container.
 */
.login-container, .material-table {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 5px;
  width: 100%; }

.auth-card {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  width: 100%; }

/**
 * Remove the margin and padding.
 */
/**
 * Remove the margin. 
 */
/**
 * Remove the padding. 
 */
/* Directives
   ========================================================================== */
/**
 * Create classes that alters the font size. 
 */
.base-like, .user-name {
  font-size: 1em; }

.h1-like {
  font-size: 2.074em; }

.h2-like {
  font-size: 1.728em; }

.h3-like {
  font-size: 1.44em; }

.h4-like {
  font-size: 1.2em; }

.p-like {
  font-size: 1em; }

.small-like {
  font-size: 0.8833em; }

/**
 * Create classes that alters the font size. 
 */
.font-size--base {
  font-size: 1em; }

.font-size--h1 {
  font-size: 2.074em; }

.font-size--h2 {
  font-size: 1.728em; }

.font-size--h3 {
  font-size: 1.44em; }

.font-size--h4 {
  font-size: 1.2em; }

.font-size--p {
  font-size: 1em; }

.font-size--small {
  font-size: 0.8833em; }

/**
 * Create classes that alters the text color. 
 */
.color--primary-theme {
  color: #1d9d74; }

.color--warning {
  color: #F44336; }

.color--success {
  color: #4CAF50; }

.color--wallpaper {
  color: #ECEFF2; }

.color--table-row {
  color: #CCCCCC; }

.color--zebra-stripe {
  color: #EFF5FA; }

.color--default-btn {
  color: gray; }

/**
 * Create classes that alters the bg color. 
 */
.bg--primary-theme {
  background-color: #1d9d74; }

.bg--warning {
  background-color: #F44336; }

.bg--success {
  background-color: #4CAF50; }

.bg--wallpaper {
  background-color: #ECEFF2; }

.bg--table-row {
  background-color: #CCCCCC; }

.bg--zebra-stripe {
  background-color: #EFF5FA; }

.bg--default-btn {
  background-color: gray; }

/* Functions
   ========================================================================== */
/**
  * Convert the targeted pixel amout to a percentage.
  */
/* Mixins
   ========================================================================== */
/* Input
   ========================================================================== */
input[type="text"],
input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px; }

/* Layout
   ========================================================================== */
.user-information,
.utility {
  display: flex;
  width: 100%;
  justify-content: space-between; }

/* Modules
   ========================================================================== */
.global-header {
  color: #ffffff;
  padding-top: 0.6666666667%; }

.logo {
  box-sizing: border-box;
  font-size: 1.44em;
  color: white;
  width: 20%; }
  .logo h1 {
    font-size: inherit; }
  .logo__text {
    font-size: inherit;
    color: inherit;
    font-weight: 400; }
  .logo__icon {
    vertical-align: middle;
    margin-right: 4.1666666667%; }

a.logo {
  text-decoration: none;
  color: white; }

a.user-name {
  text-decoration: none;
  color: white; }

.user-name__text {
  display: inline;
  font-size: inherit;
  color: inherit;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 5px; }
.user-name__icon {
  display: inline;
  vertical-align: middle; }

.page-title {
  align-self: center;
  font-size: 2.074em;
  font-weight: 400;
  margin-top: 0; }

ul.finance-info {
  list-style-type: none; }
  ul.finance-info li {
    display: inline-block;
    font-size: 1em;
    margin-right: 1.44em; }

.finance-info {
  align-self: flex-start;
  margin-top: 0; }
  .finance-info__cash, .finance-info__text {
    display: block;
    text-align: right; }
  .finance-info__text {
    margin-top: 2.5px;
    text-transform: uppercase;
    font-size: 0.66em;
    font-weight: 600;
    color: #BBDEFB; }
  .finance-info__cash {
    font-size: 1.728em;
    font-weight: 400; }

.user-information {
  padding-top: 1.2em;
  padding-bottom: 1.2em; }

nav {
  background: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

ul.nav-links {
  padding-left: 0; }

.nav-links__item {
  font-size: 1.2em;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px; }

.nav-links__item a {
  display: block;
  color: #9E9E9E;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  border-bottom: 3px solid white; }

.nav-links__item a:hover {
  border-color: #F44336; }

.nav-links__item--active {
  border-color: #F44336; }

.material-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }
  .material-table caption {
    font-size: 1.728em;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 16px; }

.material-table thead tr {
  border-bottom: 1px solid #ccc; }
.material-table thead tr th {
  color: #333;
  letter-spacing: .5px;
  text-align: right;
  font-size: 0.8833em;
  font-weight: 600;
  padding: 1em 1.44em; }
.material-table thead tr th:first-child {
  text-align: left; }

.material-table tbody tr:nth-child(odd) {
  background: #EFF5FA; }
.material-table tbody tr td {
  text-align: right;
  padding: 0.7851555556em 1.44em; }
.material-table tbody tr td:first-child {
  text-align: left; }

@media (max-width: 760px) {
  .material-table {
    box-shadow: none;
    background: transparent; }

  .material-table tbody tr {
    background: white; }

  .material-table,
  .material-table tbody,
  .material-table thead,
  .material-table th,
  .material-table tr,
  .material-table td,
  .material-table caption {
    display: block; }

  .material-table tbody tr td:first-child {
    text-align: right; }

  .material-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .material-table tr {
    border: 1px solid #cccccc;
    margin-top: 1em; }

  .material-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; }

  .material-table td:before {
    position: absolute;
    top: 0.7851555556em;
    left: 1.44em;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: 600; }

  .material-table tbody td:nth-of-type(1):before {
    content: "Symbol"; }

  .material-table tbody td:nth-of-type(2):before {
    content: "Purchased Date"; }

  .material-table tbody td:nth-of-type(3):before {
    content: "Purchased Price"; }

  .material-table tbody td:nth-of-type(4):before {
    content: "Last Trade Cost"; }

  .material-table td:nth-of-type(5):before {
    content: "Shares"; } }
/*! All Things that handles authentication styling. */
/* Auth Card
   ========================================================================== */
.auth-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 1.728em;
  color: #ffffff;
  background: #21b384;
  width: 100%; }
  @media (min-width: 500px) {
    .auth-card {
      max-width: 320px;
      margin-top: 20px; } }

/* Auth Header
   ========================================================================== */
.auth-header {
  text-align: center; }
  .auth-header__title {
    font-size: 1.728em;
    font-weight: 600; }
  .auth-header__title, .auth-header__subtitle {
    margin: 0; }

/* Auth Form
   ========================================================================== */
.auth-form {
  display: block;
  width: 100%; }

/* Auth Link
   ========================================================================== */
a.auth-link {
  font-size: 0.8833em;
  font-weight: 600;
  color: blue;
  text-align: center; }

/* Form Group
   ========================================================================== */
.form-group label {
  display: block;
  font-weight: 600; }

.form-group + .form-group {
  margin-top: 5%; }

.form-group:last-of-type {
  margin-bottom: 10%; }

/* Button
   ========================================================================== */
.btn {
  cursor: pointer;
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 16px;
  line-height: 1.45;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 2px;
  background: gray;
  color: inherit;
  outline: 0;
  text-decoration: none; }
  .btn:focus, .btn:hover {
    background: #616161; }

.btn--raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn--raised:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

/* Hacks
   ========================================================================== */

/*# sourceMappingURL=stylesheet.css.map */
