html {
  font-size: 16px; }

body {
  background: #f4f8fb; }

.container {
  background: #fff; }

h1, h2, h3, p, li, a, th, td {
  color: #8C8C8C;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #537293; }

.container {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.user-account {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  .user-account .user-account__links {
    list-style-type: none;
    padding-left: 0;
    float: right; }
  .user-account .user-account__links li {
    display: inline-block;
    margin-right: 7.5px;
    font-size: 16px; }
  .user-account .user-account__links li:after {
    content: "|";
    margin-left: 7.5px; }
  .user-account .user-account__links li:last-child:after {
    content: none; }

.global-header {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }

.logo {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px; }

nav.tabs {
  position: relative;
  top: 50px; }

.tabs {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px; }
  .tabs .tabs__links {
    padding-left: 0;
    float: right;
    font-size: 16px;
    color: #537293; }
  .tabs .tabs__links li {
    list-style-type: none;
    display: inline-block;
    margin-right: 32px; }
  .tabs .tabs__links li a {
    text-decoration: none;
    color: #4d7ca8;
    font-weight: bold; }
  .tabs .tabs__links li a:hover {
    color: #355575;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #355575; }
  .tabs .tabs__links li:last-child {
    margin-right: 0; }

.side {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  min-height: 600px;
  height: 100%; }

.side--blue {
  background: #6191b8; }

.side--green {
  background: #8FDEAC; }

.main-content {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px; }
  .main-content .main-content__header {
    background: #FDFBFB;
    padding-top: 3.75px;
    padding-bottom: 3.75px;
    padding-left: 15px; }
  .main-content .main-content__title {
    font-weight: 300;
    color: #4D4D4D;
    font-size: 45px; }

table.portfolio {
  width: 100%;
  border-collapse: collapse; }

.portfolio__header {
  text-transform: uppercase;
  font-size: 11px; }
  .portfolio__header tr th {
    font-weight: 700;
    letter-spacing: .5px;
    text-align: right; }
  .portfolio__header tr th:first-child {
    text-align: left; }

.portfolio__body tr td {
  text-align: right; }
.portfolio__body tr td:first-child {
  text-align: left; }

.portfolio__money {
  font-family: "Roboto Mono", Menlo, "Courier New", monospace; }

.portfolio__body td,
.portfolio__header th {
  padding: 8px 15px; }

.portfolio__body tr:nth-child(odd) {
  background: #FDFBFB; }

ul.financial-info {
  list-style-type: none; }
  ul.financial-info li {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff; }

ul.financial-info__header {
  font-size: 23px;
  font-weight: 700; }

/*# sourceMappingURL=stylesheet.css.map */
