/**
 Util Placeholders
 =========================== */
%container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

%reset-margin-and-padding {
    margin: 0;
    padding: 0;
}

/**
 Util Classes
 =========================== */
@each $key, $value in $font-sizes {
    .#{$key}-like {
        font-size: $value;
    }
}
 
 .text-align--right {
    text-align: right;
}
/**
 Generates classes that modifies, 
 the color property when used. 
 ========================================= */
@each $key, $value in $colors {
    .color--#{$key} {
        color: $value;
    }
}

/**
 Generates classes that modifies, 
 the background-color property when used. 
 ========================================== */
@each $key, $value in $colors {
    .bg--#{$key} {
        background-color: $value;
    }
}
