/* ==========================================================================
   Base Styles
   ========================================================================== */
   
   html {
       font-size: $font-size-base;
   }
   
   body {
       background: #f4f8fb;
   }
   
    h1, h2, h3, p, li, a, th, td, label, button {
        color: #8C8C8C;
        font-family: $font-family-sans-serif;
    }
    
    a {
        color: $link-color;
    }