/* ==========================================================================
   Main Content - Block
   ========================================================================== */
   
    .main-content {
        @include grid-column(12);
    }
    
/* 
   Main Content - Elements
   ========================================================================== */
   
    .main-content__header {
        background: #FDFBFB;
        padding-bottom: 3.75px;
        padding-left: 3.75px;
        padding-top: 3.75px;
    }
    
    .main-content__title {
        color: #4D4D4D;
        font-size: $font-size-h2;
        font-weight: $font-weight-light;
    }
    
