/* Button
   ========================================================================== */
   .btn {
       cursor: pointer;
       border: 0;
       box-sizing: border-box;
       display: inline-block;
       padding: 6px 16px;
       line-height: $body-line-height;
       text-align: center;
       white-space: nowrap;
       vertical-align: middle;
       border-radius: 2px;
       background: map-get($colors, default-btn); // $default-color 
       color: inherit;
       outline:0;
       text-decoration: none;
       &:focus,
       &:hover {
           background: darken(map-get($colors, default-btn), 12%);
       }
       
      
   }
   
   .btn--raised {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                  0 1px 5px 0 rgba(0, 0, 0, 0.12), 
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      
      &:active {
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                      0 3px 14px 2px rgba(0, 0, 0, 0.12),
                      0 5px 5px -3px rgba(0, 0, 0, 0.4);
      }
    }
    
    .btn--full-width {
        width: 100%;
    }
    
    .btn--search {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border: none;
        color: #fff;
    }
    
    .btn--buy {
        background: #f4d078;
        border: 1px solid darken(#f4d078, 55%);
        color: #000;
    }
    
    .btn--buy:hover {
        background: darken(#f4d078, 5%);
    }