//== Nav 
nav {
    background: white;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

//== Navigation Links
ul.nav-links {
    padding-left: 0;
}

.nav-links__item {
    font-size: $font-size-h4;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-links__item a {
    display: block;
    color: $silver-chalice;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 13px;
    border-bottom: 3px solid white;
}

.nav-links__item a:hover {
    border-color: $pomegranate;
}

.nav-links__item--active {
    border-color: $pomegranate;
}