.stock-certificate {
    box-sizing: border-box;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-top: 4.16666667%;
    border-radius: 3px;
    &__header {
        margin-bottom: 1.728em;
        border-bottom: 1px solid #ccc;
        padding: 16px 24px;
    }
    
    &__action {
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    @media (min-width: 750px) {
        width: 50%;    
    }
}

h2.stock-name, 
p.stock-name,
p.stock-price {
    margin: 0;
}

p.stock-price {
    color: darken(map-get($colors, warning), 10%);
    font-weight: $font-weight-bold;
    font-size: $font-size-h4;
}